if(!privateFields.management)
  .ms_swiper
    .swiper-container
      .swiper-wrapper
        each slide , i in management
          .swiper-slide
            img(src=slide.logo)
            .profile_info
              h5 #{slide.firstName} #{slide.lastName}
              h6 #{slide.designation}
              p
                | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                | standard dummy text ever since the 1500s,Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            span.expand_info
      // Add Pagination
      // <div class="swiper-pagination"></div>
      // Add Arrows
    .swiper-button-next
    .swiper-button-prev
else
  h2 Private Content

// Swiper Ends

script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
script(type='text/javascript', src='/js/swiper.min.js')
script.
  var swiper = new Swiper('.swiper-container', {
    pagination: '.swiper-pagination',
    slidesPerView: 4,
    paginationClickable: true,
    spaceBetween: 10,
    keyboardControl: true,
    nextButton: '.swiper-button-next',
    prevButton: '.swiper-button-prev',
    //loop: true
  });
  $('.expand_info').click(function(){
    $(this).parent().find('.profile_info').toggleClass('open');
    $(this).toggleClass('collapse');
  });
script(src="/js/swiper.min.js")

