.collapse-menu .menu-links{margin-top:0px !important;}
.collapse-menu .panel-default{border-color:white !important; border-top:none;}
.collapse-menu .panel{border-radius:0 !important;}
.collapse-menu .panel-heading{padding:14px 5px 14px 10px!important;background:#F3F2F2;}
.collapse-menu .panel-heading:hover{background:#F1ECEC;}
.sidemenu-icon{padding-right:5px;}
.chevron-icon{color: rgb(0, 185, 242);font-size:13px;}
.collapse-menu a{color:#6d6e70;font-size:14px;}
.collapse-menu a:hover{text-decoration:none;}
.dropdown-links{padding:0px;}
.dropdown-links .table{margin-bottom:0px;}
.dropdown-links .table a{padding-left:25px;}
.menu-links h4{font-size:14px;}

.leftmenu-padding{
    padding: 15px 0px !important;
    margin-top: 60px;
    margin-left: 15px;
}

.moolya_admin_container{
    margin-top: 65px;
}

.counter-blk1 {
    margin-top: 10px;
    /*text-align: center;*/
}

.dropdown-menu{
  margin-left:76%;
}
.adminPannel{
  margin-top: 66px;
}
