@charset "utf-8";
@import url("fonts.css");
/*font-family: 'DINPro-Medium';font-family: 'DINPro-Bold';*/
*{margin:0px;padding:0px;-webkit-backface-visibility: hidden;}
ul,ol,li{list-style:none;}
button:focus, a:focus{outline: 0px !important;}
html, body{height:100%;-webkit-font-smoothing: antialiased; -webkit-text-size-adjust: 100%;}
body{font-family: 'DINPro-Regular';font-size:15px;background:#fff url(../images/bg.png);letter-spacing:0.5;color:#000;text-shadow: 0px 1px 1px #eee;}
input, textarea{font-family: 'DINPro-Regular';font-size:15px;color:#000;}
input:focus, textarea:focus{outline:0px;}
h1,h2,h3,h4,h5,h6{font-family: 'DINPro-Bold';font-weight:normal;}
.header{height:120px;}
.header .logo{width:217px;height:68px;text-align:left;float:left;padding-top:8px;background: rgba(255,255,255,1);padding-left: 11px;
padding-bottom: 2px;padding-right: 11px;}
.honeycombs{position: relative;width:calc(100% - 223px);text-align: center;float:left;margin-top: -46px;text-align: left;padding-left:6px;height:166px;margin-left: -22px;}
.comb_set{float:left;margin-left: -6px;}
.comb_set:first-of-type{margin-left:0px;}
.comb {position: relative;width: 76px; height: 43.88px;background-color:#FFC20E;margin:21.94px 0;transform:rotate(90deg);transition:.3s ease-in-out;cursor:pointer;}
.comb.active, .comb:hover{background-color:#ef4647 !important;}
.comb.emt:hover{background-color:#FFC20E !important;cursor:default;}
.comb.emt:hover:before{border-bottom: 21.94px solid #FFC20E !important;}
.comb.emt:hover:after{border-top: 21.94px solid #FFC20E !important;}
.comb span{position: absolute;transform: rotate(-90deg);left: -34px;top: 13px;font-size: 16px;z-index: 2;width: 77px;height: 17px;line-height: 17px;text-align: center;}
.comb.with_ic span{left: -9px;}
.comb.with_ic .menu_ic{width: 22px;height: 21px;display: inline-block;background: url(../images/download_icon.png);}
.comb.active.with_ic .menu_ic, .comb.with_ic:hover .menu_ic{background: url(../images/download_icon_h.png);}

.comb span a{text-decoration:none;color:#000;height: 78px;display: inline-block;width: 75px;line-height: 78px;}
.comb.active span a, .comb:hover span a{color:#fff;text-shadow: 0px 1px 1px #333;}
.comb_set:nth-of-type(7) .comb:first-of-type span{left:-15px;}
.comb.bot{margin-top: 38px;}
.comb.mid{margin-top:-107.19px;margin-left:71px;background-color:#B9C5CC;}
.comb.mid span{font-size:16px;}
.comb_set:last-of-type .comb.mid{margin-top: 62px;margin-left: 36px;background-color:#273545;}
.comb_set:last-of-type .comb span{color:#fff;/*left:-13px;*/line-height:21px;}
.comb_set:last-of-type .comb span a{color:#fff;/*line-height: 18px;*/text-shadow: 0px 1px 1px #333;}
.comb:before,.comb:after {content: "";position: absolute;width: 0;border-left: 38px solid transparent;border-right: 38px solid transparent;transition:.3s ease-in-out;}
.comb:before {bottom: 100%;border-bottom: 21.94px solid #FFC20E;}
.comb:after {top: 100%;width: 0;border-top: 21.94px solid #FFC20E;}
.comb.active:before, .comb:hover:before {bottom: 100%;border-bottom: 21.94px solid #ef4647 !important;}
.comb.active:after, .comb:hover:after {top: 100%;width: 0;border-top: 21.94px solid #ef4647 !important;}
.comb.mid:before {bottom: 100%;border-bottom: 21.94px solid #B9C5CC;}
.comb.mid:after {top: 100%;width: 0;border-top: 21.94px solid #B9C5CC;}
.comb_set:last-of-type .comb.mid:before {bottom: 100%;border-bottom: 21.94px solid #273545;}
.comb_set:last-of-type .comb.mid:after {top: 100%;width: 0;border-top: 21.94px solid #273545;}
.main_body{overflow:auto;padding: 0px 24px;position:relative;/*min-height:300px;*/}
.main_body .home_quote{font-size:12px;color:#979795;text-align:center;position:relative;top:34%;line-height:normal;font-style:italic;}
.main_body h2{color:#273545;font-size:36px;padding:10px 0px 10px 0px;}/*ffc000*/
sup{font-size:8px;}
.main_body h2 sup{font-size:11px;}
.main_body h3{color:#273545;font-size:22px;padding:0px 0px 5px 0px;}
.main_body .tab_content h3{color:#273545;font-size:28px;padding:10px 0px 5px 0px;}
.main_body p{line-height:24px;font-size:15px;padding-bottom:8px;padding-top:0px;text-shadow: 0px 1px 1px #eee;}
.main_body p.padding_bot_0{padding-bottom:0px;}
.m_red{color:#ef4647;}
.m_yel{color:#ffc20e;}
.special_word1 span:first-of-type{color:#095491;}
.special_word1 span:nth-of-type(2){color:#ef4142;}
.main_body ul{margin-bottom:10px;font-size:15px;text-shadow: 0px 1px 1px #eee;}
.main_body ul li{line-height:24px;background:url(../images/list_icon.png) left 9px no-repeat;padding-left:16px;}
.main_body ul li ul{padding-left:24px;}
.main_body ul li ul li{background:url(../images/list_icon3.png) left 8px no-repeat;}
.main_body p a{color:#ef4647;text-decoration:none;}
.main_body p a:hover{text-decoration:underline;}
.anim_comb{position:absolute;z-index:-1;opacity:0.2;background-color:#ef4647;}
.anim_comb:before{border-bottom-color:#ef4647;}
.anim_comb:after{border-top-color:#ef4647;}
.anim_comb.top_anim{top:15%;left:5%;}
.anim_comb.right_anim{top:30%;right:10%;}
.anim_comb.bot_anim{top: 75%;left: 45%;}
.main_body .t_member{width:100px;height:120px;background:#f5f5f5;float:left;margin-right:10px;border:1px solid #ddd;position:relative;margin-bottom: 10px;}
.main_body .t_member .t_mem_info{position: absolute;top: 5%;left: 5%;background-color: rgba(243,64,65,0.6);color: #fff;width: 90%;height: 90%;text-align: center;opacity:0;cursor:pointer;}
.main_body .t_member:hover{}
.main_body .t_member:hover .t_mem_info{opacity:1;transition: .3s ease-in-out;}
.main_body .t_member .t_mem_info span{margin-top: 40%;position: absolute;width: 100%;left: 0px;text-shadow: 0px 1px 1px #333;}
/*.main_body.team{background:#ddd;}*/
.main_body .body_left{width: 30%;float: left;height: auto;/*text-align: center;padding-top:20px;*/position:relative;}
.main_body .body_left img{height:100%;}
.upcoming_ch, .int_ch{display:none;}
.main_body .body_left img.int_ch{width:100%;height:auto;}
.main_body .body_left ul{position: absolute;right: 0px;font-size: 13px;}
.main_body .body_left ul li:nth-of-type(2){background:url(../images/list_icon2.png) left center no-repeat;}
.main_body .body_right{width:calc(70% - 100px);float: left;height: auto;padding-left:100px;}
.main_body .tab_data{}
.main_body .tab_data ul{margin-bottom:0px;border-bottom: 4px solid #ef4647;}
.main_body .tab_data ul li{display:inline-block;background:#eee;padding:6px 20px;margin-right:3px;cursor:pointer;}
.main_body .tab_data ul li.active_loc{color: #fff;text-shadow: 0px 1px 1px #333;background-color: #ef4647;}
.main_body .tab_data ul li.active_loc[name="phase1"]{background-color: #ef4647;}
.main_body .tab_data ul li.active_loc[name="phase2"]{background-color: #FFC20E;}
.main_body .tab_data ul li.active_loc[name="phase3"]{background-color: #273545;}
.main_body .tab_dtls{background-color:rgba(255,243,209,0.3);padding:10px;overflow:auto;display:none;}
.main_body .tab_dtls h4{font-size:18px;}
.main_body .body_right .tab_dtls.phase2 p, .main_body .body_right .tab_dtls.phase1 p {font-size: 14px;line-height: 23px;padding-bottom: 10px;padding-top:2px;}
.main_body.about .body_left{width: calc(40% - 20px);padding-right: 20px;}
.main_body.about .body_left p{padding-right: 20px;}
.main_body.about .body_left p img{float: right;width: 186px;border: 1px solid #ccc; padding: 0px;}
.main_body.about .body_right{width:calc(60% - 0px);float: left;height: auto;padding-left:0px;}

.main_body .stats_left{width:40%;margin-right:5%;float:left;text-align:left;position:relative;}
.main_body .stats_left img{height:96%;text-align:center;}
.main_body .stats_left p{font-size:32px;line-height:48px;position:absolute;top: 61%;left: 137px;letter-spacing: -1px;}
.main_body .stats_right{width:50%;float:left;}
.main_body .stats_right .count_block{width:50%;height:100px;float:left;text-align:center;font-size:50px;line-height:30px;margin-bottom:25px;}
.main_body .stats_right .count_block:nth-of-type(1),.main_body .stats_right .count_block:nth-of-type(2){margin-bottom:50px;}
.main_body .stats_right .count_block span span{font-size:30px;}
.main_body .stats_right .chapter_count{font-size:40px;text-align:center;}
.main_body .contact_left{width:40%;margin-right:5%;float:left;}

.button{position: relative;display:block;background-color: transparent;width:180px;height:46px;line-height:44px;text-align:center;font-size:19px;text-decoration:none;text-transform:lowercase;font-family: 'DINPro-regular';z-index: 1;}
.button:before, .button:after {width:180px;left: 0px;height:20px;z-index: -1;background-color:rgba(255,255,255,0.1);}
.indianred{ color: #ef4647; }
.indianred:before,.indianred:after {border: 3px solid #ef4647;}
.button:before{position: absolute;content: '';border-bottom: none;-webkit-transform: perspective(15px) rotateX(5deg);-moz-transform: perspective(15px) rotateX(5deg);transform: perspective(15px) rotateX(5deg);}
.button:after{position: absolute;top: 24px;content: '';border-top: none;-webkit-transform: perspective(15px) rotateX(-5deg);
-moz-transform: perspective(15px) rotateX(-5deg);transform: perspective(15px) rotateX(-5deg);}
/* Button Hover Style */
.indianred:hover:before, .indianred:hover:after {background: #ef4647;/*transition:.3s linear;*/}
.button:hover{color:#fff;text-shadow:0px 1px 1px #333;}
.guru .button{margin: 20px auto 0px auto;}
.nariprenuer .button{width:235px;}
.nariprenuer .button:before, .nariprenuer .button:after{width:233px;}
.team_m .moolya_btn{margin: 0px auto;}
.moolya_btn_wrap{text-align: center;}
.moolya_btn_wrap.left_align{text-align: left;padding-left: 15px;}


.team_add_btn{}

.main_body .contact_right{width:55%;float:left;overflow:auto;}
.main_body .contact_right h4{background:rgba(255,255,255,0.5);line-height: 38px;padding-left: 10px;width: 90%;position: relative;border:1px solid #ddd;border-bottom:0px;color:#888;font-family: 'DINPro-Regular';font-size:18px;cursor:pointer;}
.main_body .contact_right h4:after{width: 8px;height: 8px;border-right: 1px solid #4a6e78;border-bottom: 1px solid #4a6e78;position: absolute;
right: 20px;content: " ";top: 15px;transform: rotate(-45deg);-webkit-transition: all 0.2s ease-in-out;-moz-transition: all 0.2s ease-in-out;
transition: all 0.2s ease-in-out;}
.main_body .contact_right h4.active_acc:after{border-right: 1px solid #fff;border-bottom: 1px solid #fff;transform: rotate(45deg);-webkit-transition: all 0.2s ease-in-out;-moz-transition: all 0.2s ease-in-out;transition: all 0.2s ease-in-out;}	
.main_body .contact_right h4.active_acc{background:#ef4647;color:#fff;text-shadow: 0px 1px 1px #333;}
.main_body .contact_right h4:first-of-type{border-radius:4px 4px 0px 0px;}
.main_body .contact_right h4:last-of-type{border-bottom:1px solid #ddd;border-radius:0px 0px 4px 4px;}
.main_body .contact_right h4.active_acc:last-of-type{border-radius:0px;}
.main_body .contact_right .acc_content{background-color:rgba(255,243,209,0.6);border-right:1px solid #ddd;border-left:1px solid #ddd;width:90%;padding-right:10px;display:none;}
.main_body .contact_right .acc_content p{padding:10px;}
.main_body .contact_right .acc_content:last-of-type{border-bottom:1px solid #ddd;border-radius:0px 0px 4px 4px;}
.main_body .partners_wrap{width:80%;margin:0px auto;min-height:100px;padding:10px;background-color:rgba(238,208,208,0.4);margin-top:30px;border:1px solid #f6dada;text-align:center;border-radius:4px;}
.main_body .forms_wrap{width:500px;margin:10px auto 0px auto;max-height: 346px; overflow: hidden;}
.main_body .forms_wrap form{display:none;}
.main_body .forms_wrap form.forgot_pass_form{padding-top:30px;}
.main_body .forms_wrap input{width:70%;border:0px;border-bottom:2px solid #eec0c0;height:40px;padding:0px 5px;font-size:19px;margin-bottom:10px;background-color:transparent;}
.main_body .forms_wrap textarea{width:70%;border:0px;border-bottom:2px solid #eec0c0;height:100px;padding:0px 5px;font-size:19px;margin-bottom:10px;background-color:transparent;}
.main_body .forms_wrap .comb{top: -100px;left: 75%;}
.main_body .forms_wrap .comb span{font-size:18px;font-weight:bold;}
.main_body .forms_wrap .comb span a{color:#333;text-decoration:none;}
.main_body .forms_wrap .comb:hover span a{color:#fff;text-decoration:none;text-shadow:0px 1px 1px #333;}
.main_body .forms_wrap .form_text{font-size:14px;width:72%;}
.main_body .forms_wrap .form_text span:first-of-type{float:left;}
.main_body .forms_wrap .form_text a{text-decoration:none;color:#333;}/*f34041*/
.main_body .forms_wrap .form_text span:last-of-type{float:right;}
.main_body .partners_wrap img{margin:10px 10px;border:1px solid #ddd;}
.count{color:#ef4647;}
/*.hexcontainer:nth-of-type(2){display:block;}
.hexcontainer:nth-of-type(1){display:none;}*/
.hexcontainer {width: 332px;height:326px;float:left;margin-top:20px;padding-left:30px;transform: rotate(30deg);}
.hex{float:left;height:120px;width:104px;margin-bottom:-26px;margin-left:5px;overflow:hidden;cursor:pointer;outline: 1px solid transparent;}
.hex:hover #icon{-moz-animation:movetobottom 300ms infinite;-ms-animation:movetobottom 300ms infinite;-webkit-animation:movetobottom 300ms infinite}
.hex #icon img{width:32px;height:32px;}
.hex:hover #text{-moz-animation:300ms ease-in-out;-ms-animation:300ms ease-in-out;-webkit-animation:300ms ease-in-out;display:block}
.hex .top{border-bottom:30px solid #d84b62;border-left:52px solid transparent;border-right:52px solid transparent;width:0}
.hex .middle{background:#d84b62;height:60px;width:104px}
.hex .bottom{border-left:52px solid transparent;border-right:52px solid transparent;border-top:30px solid #d84b62;width:0}
.hex_new.hex_fade .top{border-bottom:30px solid rgba(82,82,82,0.5) !important;}
.hex.hex_fade .middle{background-color:rgba(82,82,82,0.5) !important;}
.hex.hex_fade .bottom{border-top:30px solid rgba(82,82,82,0.5) !important;}
.center{margin-left:55px}
.hex-row {clear:left;}
#icon{margin:44px 0 0 36px;position:absolute;transform: rotate(-30deg);/*-webkit-transform-style: preserve-3d;*/}
#text{color:#fff;display:none;font-size:18px;margin:50px 0 0;position:absolute;text-align:center;width:104px;transform: rotate(-30deg);-webkit-transform-style: preserve-3d;text-shadow: 0px 1px 1px #333;}
.hexagon{-moz-transform:rotate(120deg);-o-transform:rotate(120deg);-webkit-transform:rotate(120deg);cursor:pointer;overflow:hidden;transform:rotate(120deg);visibility:hidden}
.hexagon-in1{/*-moz-transform:rotate(-60deg);-o-transform:rotate(-60deg);-webkit-transform:rotate(-60deg);transform:rotate(-60deg);*/height:100%;overflow:hidden;width:100%}
.hexagon-in2{/*-moz-transform:rotate(-90deg);-o-transform:rotate(-90deg);-webkit-transform:rotate(-90deg);transform:rotate(-90deg);*/height:100%;visibility:visible;width:100%}
.hexagon-in2 img{/*width:100%;margin: 42px 0% 0px -2px;*/margin:43px 0% 0px 17px;transform:rotate(-30deg);}
.hexagon1{height:120px;width:104px}
#copy{position:absolute;width:100%;height:auto;display:inline-block;text-align:center;color:#fff;font-size:13px;bottom:30px;}

.forme_content{float:left;width:calc(100% - 402px);height:auto;margin-left:40px;padding:0px 0px;}
.forme_content .tab_content{display:none;}
.team_popup{display:none;}
.popup_mask{width:100%;height:100%;background-color:rgba(0,0,0,0.5);position:fixed;top:0px;left:0px;z-index:2;}
.popup_content{background:#fff;width:50%;height:300px;margin:0px auto;position:absolute;z-index:2;top:20%;left:25%;border-radius:4px;box-shadow:0px 0px 8px #333;padding:10px;}
.popup_content .popup_right h2 a{margin:-12px -18px 0px 0px;float:right;}
.popup_content .popup_left img{float:left;width:calc(100% - 6px);height:auto;border:1px solid #ddd;padding:2px;}
.popup_content .popup_left{width:35%;float:left;height:100%;overflow:hidden;}
.popup_content .popup_right{width:calc(65% - 12px);float:left;height:100%;padding-left:12px;}
.popup_content .popup_right h2{color:#f34041;font-size:24px;border-bottom: 2px solid #f34041; padding-bottom: 6px;margin-top: -6px;}
.popup_content .popup_right p{padding-top:10px;line-height:20px;}
.popup_content .popup_right p a{float: right;margin-top: -14px;}
.gen_popup{display:none;}
.gen_popup .popup_content{width:60%;height:68%;left:20%;top:15%;}
.popup_content .scroll_wrap{height: calc(100% - 35px);overflow: auto;}
.gen_popup .popup_content h2{color:#ef4647;font-size:24px;border-bottom: 2px solid #ef4647; padding-bottom: 6px;margin-top: -6px;margin-bottom: 6px;}
.gen_popup .popup_content h2 a{margin:-12px -18px 0px 0px;float:right;}
.gen_popup .popup_content p{padding-bottom:10px;line-height:22px;}
.gen_popup .popup_content h3{padding:10px 0px 3px 0px;color:#273545;}
.gen_popup .popup_content ul{padding-bottom:10px;line-height:22px;    margin-left: 37px;}
.gen_popup .popup_content ul li{    list-style-type: disc;    list-style-position: outside;}
.gen_popup .popup_content ul ul li{list-style-type:circle;}
.gen_popup .popup_content ul ul{margin-left:21px;}

.gen_popup.team_add_popup .popup_content {width: 40%;height: auto;left: 30%;top: 15%;}
.gen_popup.team_add_popup .popup_content input[type="text"] {width: 80%;border: 0px;border-bottom: 2px solid #eec0c0;height: 40px;padding: 0px 5px;font-size: 19px;margin-bottom: 10px;background-color: transparent;}
.gen_popup.team_add_popup .popup_content textarea {width: 80%;border: 0px;border-bottom: 2px solid #eec0c0;height: 80px;padding: 0px 5px;
font-size: 19px;margin-bottom: 10px;background-color: transparent;}
.gen_popup.team_add_popup .popup_content input[type="submit"] {background: url(../images/btn_bg.png);width: 178px;height: 52px;border: 0px;
color: #fff;text-shadow: 0px 1px 1px #333;font-size: 17px;cursor: pointer;}
.gen_popup.team_add_popup .popup_content input[type="text"].field-error {border-bottom: 2px solid #ef4647;}

.gen_popup.event_popup .popup_content {width: 40%;height: auto;left: 30%;top: 15%;}
.gen_popup.event_popup .popup_content input[type="text"] {width: 80%;border: 0px;border-bottom: 2px solid #eec0c0;height: 40px;padding: 0px 5px;font-size: 19px;margin-bottom: 10px;background-color: transparent;}
.gen_popup.event_popup .popup_content textarea {width: 80%;border: 0px;border-bottom: 2px solid #eec0c0;height: 80px;padding: 0px 5px;
font-size: 19px;margin-bottom: 10px;background-color: transparent;}
.gen_popup.event_popup .popup_content input[type="submit"] {background: url(../images/btn_bg.png);width: 178px;height: 52px;border: 0px;
color: #fff;text-shadow: 0px 1px 1px #333;font-size: 17px;cursor: pointer;}
.gen_popup.event_popup .popup_content input[type="text"].field-error {border-bottom: 2px solid #ef4647;}
.succ_msg {color: #273545;background-color: #dff0d8;border: 2px solid #d7ddd5;padding: 10px 10px 10px 10px;border-radius: 6px;display: none;
text-align: center;font-size: 16px;margin-top: 10px;}
.succ_msg a {color: #ef4647;text-decoration: none;}

.gen_popup.welcome_popup .popup_content{padding-bottom: 6px;width:50%;height:auto;left:25%;}
.gen_popup.welcome_popup .popup_content h2{border-bottom:0px;position:relative;z-index:2;}
.gen_popup.welcome_popup .popup_content .welcome_img{width:100%;margin-top:-19px;position:relative;z-index:1;}

.brochure_thumb_wrap{width:285px;height: auto;background: #ef4647;margin: 20px auto;text-align: center;padding-bottom: 10px;}
.brochure_thumb_wrap img{border:2px solid #ef4647;}
.brochure_thumb_wrap a, .brochure_thumb_wrap span{color: #fff;text-decoration: none;text-shadow: 0px 1px 1px #333;}
.brochure_thumb_wrap a{font-size: 19px;}

.footer{position:fixed;bottom:0px;height:60px;width:100%;font-size:13px;overflow:hidden;}
.footer .comb_set{margin-top:-4px;float:none;width:100%;}
.footer .comb_set .comb{float:left;margin-left:30px;margin-right:0px;cursor:default;}
.footer .comb_set .comb:nth-of-type(1){margin-left:15px;}
.footer .comb_set .comb:nth-of-type(3), .footer .comb_set .comb:nth-of-type(4){float:right;}
.footer .comb_set .comb:hover{background-color:#FFC20E !important;}
.footer .comb_set .comb:hover:before {border-bottom: 21.94px solid #FFC20E !important;}
.footer .comb_set .comb:hover:after {border-top: 21.94px solid #FFC20E !important;}
.footer p{float:left;line-height:50px;font-size:13px;padding-left:20px;}
.footer p a{color:#000;text-decoration:none;padding: 0px 3px;}
.footer p a:hover{color:#f34041;}
.footer p.sm{float:right;padding-right:0px;}
.footer p.sm img{margin-left: 2px;margin-top: 8px;}
.footer .news-scroll{height:20px;width:100%;clear:both;padding:0px 10px;background: #fce8b4;font-size: 13px;line-height: 18px;}
.footer .news-scroll b{color:#ef4647;}
.f_logo{width: 64px;top: 5px;position: relative;}

.hex_svg_set .hex_new{position:relative;height:104px;width:120px;cursor:pointer;float:left;}
.hex_svg_set .hex_new .disable_img{display:none;}
.hex_svg_set .hex_new .icon{width: 32px;position: absolute;top: 32%;left: 44px;display:none;}
.hex_svg_set .hex_new:hover .icon{display:block;}
.hex_svg_set .hex_new .text{position: absolute;top: 36%;color: #fff;text-align: center;left:0;text-shadow:0px 0px 1px #333;font-size:18px;display:block;width:120px;}
.hex_svg_set .hex_new.hex_4 .text, .hex_svg_set .hex_new.hex_2 .text{color: #273545;text-shadow: 0px 0px 1px #273545;}
.hex_svg_set .hex_new:hover .text{display:none;}
.hex_svg_set .hex_new.hex_1{left:100px;}
.hex_svg_set .hex_new.hex_2{top: 55px;left: 74px;}
.hex_svg_set .hex_new.hex_3{top: -50px;left: 5px;}
.hex_svg_set .hex_new.hex_4{top: -45px;left: 5px;}
.hex_svg_set .hex_new.hex_5{top: -44px;left: 74px;}
.hex_svg_set .hex_new.hex_6{top: -94px;left: 99px;}
.hex_svg_set .hex_new.hex_6 .text{top:25%;}
.hex_svg_set .hex_new.hex_7{top: -203px;left: -20px;}
.hex_svg_set .hex_new.hex_7 img{opacity:0.2;}
.hex_svg_set .hex_new.hex_7 img.icon{display:block;opacity:1;width: auto;left: 25px;}

.modern-ticker {width: 900px;height: 34px;line-height: 30px;font-size: 16px;overflow: hidden;}
.mt-body {margin: 0px;position: relative;}
.mt-label {margin-right: 5px;padding: 0px;position: absolute;left: 0;}
.mt-news {overflow: hidden;position: absolute;left:75px;}
.mt-scroll .mt-news {background-color: transparent;}
.mt-news ul {background-repeat: no-repeat;background-position: -1000px;min-width: 1500px;}
.mt-news li {float: left;padding-right:30px;}
.mt-news li a {color:#273545;text-decoration:none;}
.mt-hide {display: none;}

.nav_item2{left:-13px !important;}
.nav_item2 a{line-height:14px !important;}
.trending_slider{width:85%;margin:15px auto 0px auto;padding-top:10px;}
.trending_slider .swiper-wrapper{padding-bottom:30px;}
.trending_slider .swiper-slide{width: 320px !important; margin: 0px 23px;}
.trending_slider .swiper-slide img{width:100%;}

.main_wrap{transition: transform 0.4s;background:#fff url(../images/bg.png);transform: scale(initial);}
.scale_down{transform: scale(0.9);overflow:hidden;}
.gen_mask{background-color:rgba(0,0,0,.5);position:fixed;width:100%;height:100%;z-index:2;top:0px;left:0px;display:none;}
.mb_menu{display:none;}
.menu_wrapper{display:none;}

.main_wrap.no_bg{background:none;background-color: rgba(255,255,255,0.75);position: relative;z-index: 1;}
.page_bg{position: fixed;top: 0px;left: 0px;width: 100%;height: 100%;z-index: 0;background-position: center center;background-size: cover;}
.page_bg.forme{background-image: url(../images/forme_bg.jpg);}
.page_bg.about{background-image: url(../images/about_bg.jpg);}
.page_bg.belong{background-image: url(../images/belong_bg.jpg);}
.page_bg.nari{background-image: url(../images/nari_bg.jpg);background-position: top center;}
.page_bg.contact{background-image: url(../images/contact_bg.jpg);}

.belong_flow{/*position:absolute;right:20%;top:62%;*/height:36px;margin-bottom:15px;}
.belong_flow div{margin-right:20px;padding:0px 25px;float:left;text-shadow: 0px 1px 1px #333;height:36px;line-height:33px;position:relative;opacity:1;}
.belong_flow .step1{background:#ef4647;color:#fff;}
.belong_flow .step2{background:#ffc20e;color:#fff;}
.belong_flow .step4{background:#273545;color:#fff;}
.belong_flow .step3{background:#b9c5cc;color:#fff;}
.belong_flow .step1:before{left: 100%;top: 50%;border: solid transparent;content: " ";height: 0;width: 0;position: absolute;pointer-events: none;border-color: rgba(136, 183, 213, 0);border-left-color: #ef4647;border-width: 18px;margin-top: -18px;}
.belong_flow .step2:before{left: 100%;top: 50%;border: solid transparent;content: " ";height: 0;width: 0;position: absolute;pointer-events: none;border-color: rgba(136, 183, 213, 0);border-left-color: #ffc20e;border-width: 18px;margin-top: -18px;}
.belong_flow .step3:before{left: 100%;top: 50%;border: solid transparent;content: " ";height: 0;width: 0;position: absolute;pointer-events: none;border-color: rgba(136, 183, 213, 0);border-left-color: #b9c5cc;border-width: 18px;margin-top: -18px;}
.belong_flow .step4:before{left: 100%;top: 50%;border: solid transparent;content: " ";height: 0;width: 0;position: absolute;pointer-events: none;border-color: rgba(136, 183, 213, 0);border-left-color: #273545;border-width: 18px;margin-top: -18px;}

.hex_set_anim{margin-left:30px;padding-left:0px;}
.hex_set_anim.hex_svg_set .hex_new{position: absolute;top: 109px;left: 100px;z-index:1;visibility:hidden;}
/*.hex_set_anim.hex_svg_set .hex_new.hex_1{left: 100px;top:inherit;}
.hex_set_anim.hex_svg_set .hex_new.hex_2 {top: 54px;left: 195px;}
.hex_set_anim.hex_svg_set .hex_new.hex_3 {top: 54px;left: 5px;}
.hex_set_anim.hex_svg_set .hex_new.hex_4 {top: 164px;left: 4px;}
.hex_set_anim.hex_svg_set .hex_new.hex_5 {top: 164px;left: 196px;}
.hex_set_anim.hex_svg_set .hex_new.hex_6 {top: 218px;left: 100px;}*/
.hex_set_anim.hex_svg_set .hex_new.hex_7 {top: 109px;left: 100px;z-index:2;visibility:visible;}
.hex_set_anim.hex_svg_set .hex_new.hex_7 img{opacity:1;}

.main_body.team .tab_dtls{background:none;max-height:inherit !important;}
.team_swiper .swiper-slide{width:180px;position:relative;height:158px;cursor:pointer;}
.team_swiper .swiper-slide .t_img{position:relative}
.t_member_info{position:absolute;top:0px;left:0px;background:url(../images/team_hover_bg.png);width:0px;height:158px;text-align:center;transition:width .2s linear;overflow:hidden;cursor:pointer;z-index:1;}
.t_member_info span{margin-top: 100px;display: inline-block;line-height: 18px;color: #fff;text-shadow: 0px 0px 1px #333;font-size: 14px;}
.team_swiper .swiper-slide:hover .t_member_info{width:180px;}
.t_mem_dtls{width:0px;height:158px;background:#faeef0;border-right:0px solid #ef4647;position:absolute;left:130px;top:0px;z-index:2;overflow:hidden;transition:width .2s linear;}
.t_mem_dtls h3{font-size:18px;color:#ef4647;padding-left:48px;padding-right:3px;padding-top:2px;padding-bottom: 2px;}
.t_mem_dtls h3 img{width:24px;float:right;}
.t_mem_dtls h3 .arr{float: left;margin-left: -25px;margin-top: 1px;}
.t_mem_dtls p{font-size:13px;color:#000;line-height:18px;padding:0px 3px 2px 48px;height: 121px;display: block;overflow: auto;}
.team_swiper .swiper-slide.t_active{z-index: 1;}
.team_swiper .swiper-slide.t_active .t_member_info{width:0px;}
.team_swiper .swiper-slide.t_active .t_mem_dtls{width:368px;left:136px;border-right:2px solid #ef4647;}
.team_swiper .swiper-slide.t_active .t_img{z-index:3;}
.team_filter{position: relative;float: right;margin-top: -39px;margin-right: 15px;border: 1px solid #273545;padding: 5px 2px;background: #273545;color: #fff;display: none;}
img.animated{-webkit-animation-name:pulse;-moz-animation-name:pulse;-webkit-animation-duration:1.5s;-moz-animation-duration:1.5s;-webkit-animation-iteration-count:infinite;-moz-animation-iteration-count:infinite;-webkit-animation-timing-function:linear;-moz-animation-timing-function:linear}
@-webkit-keyframes pulse{
	0%,100%{-webkit-transform:scale(0.6);transform:scale(0.6)}
	50%{-webkit-transform:scale(1.0);transform:scale(1.0)}}
@-moz-keyframes pulse{
	0%,100%{-moz-transform:scale(0.6);transform:scale(0.6)}
	50%{-moz-transform:scale(1.0);transform:scale(1.0)}}
.mob_break{display: none;}
/*Register form css start*/
.register_btn{background: #ef4647;color: #fff;position: absolute;top: 123px;height: 78px;width: 28px;right: 0px;cursor:pointer;z-index: 999;transition:.3s ease-in-out;}
.register_btn:hover{width:33px;}
.register_btn.btn_form_open{right: 388px;width: 28px !important;}
.register_btn span{transform:rotate(-90deg);text-shadow: 0px 1px 1px #333;display: inline-block;margin-top: 28px;margin-left: -14px;position: absolute;}
.register_btn:after {width: 23px;height: 78px;background: url(assets/images/hex_arrow.png);position: absolute;left: -22px;top: 0px;content: "";}
.form_container{width: 0px;height: 138px;background:#ef4647;position: absolute;right: 0px;top: 123px;border-radius: 0px 0px 0px 12px;padding:0px;overflow: hidden;transition:.3s ease-in-out;z-index: 1;}
.register_form_open{width:352px;padding: 10px 20px;}
.form_nav{margin-top: 26px;text-align: center;}
.form_nav li{display:inline-block;width: 12px;height: 12px;border-radius: 50%;background: #920f24;margin-right: 8px;opacity:0.4;}
.form_nav li.active_nav{opacity: 1;}
.show_p{background: url(../images/show.svg);width: 24px;height: 24px;position: absolute;right: 0px;bottom: 5px;cursor: pointer;}
.hide_p{background: url(../images/hide.svg);width: 24px;height: 24px;position: absolute;right: 0px;bottom: 5px;cursor: pointer;}
/*Register form css start*/

.blog_block{width: 98%;padding: 0px 1%;min-height: 100px;}
.blog_post_block{width: calc(47% - 15px);margin-right: 3%;background: rgba(255,243,209,0.3);min-height: 100px;float: left;margin-bottom: 20px;border-left: 5px solid #ef4647;overflow: hidden;padding-left: 10px;padding-top: 10px;padding-bottom: 5px;}
.blog_post_block h3{font-size: 18px;}
.blog_post_block p{line-height: 20px;}
.blog_post_block p span{height: 62px;overflow: hidden;display: -webkit-box;-webkit-line-clamp: 3;-webkit-box-orient: vertical;}
.blog_post_block p a{display: block;margin-top: 5px;}
.blog_post_block p a:hover{text-decoration: none;}
.blog_post_block:nth-of-type(2n+n){width: 47%;margin-left: 3%;margin-right: 0px;}
.mob_sp{display:none;}

.main_body .gallery_view{text-align: center;}
.main_body .gallery_view h3{text-align: left;color: #ef4647;font-size: 19px;}
.main_body .gallery_view li{display: inline-block;list-style: none;background: none;border: 1px solid #ddd;padding: 3px;margin: 0px 5px 8px 2px;line-height: 0px;}
.main_body .gallery_view li a{margin-top:-5px;}
#lightGallery-slider .info .title{color: #ef4647;font-size: 22px;text-shadow: none;}
#lightGallery-slider .info .desc{font-size: 14px;text-shadow: none;color: #FFC20E;}
#lightGallery-action a{color: #ef4647;    text-shadow: none;}
#lightGallery-Gallery .thumb_cont .thumb_info .count{color: #FFC20E;font-size: 15px;text-shadow: none;}
#lightGallery-Gallery .thumb_cont .thumb_info .close, #lightGallery-close{    color: #FFC20E;    text-shadow: none;}
#lightGallery-slider .info{white-space: normal;}
#lightGallery-slider .info span{line-height: 20px;}
#lightGallery-slider .lightGallery-slide img{padding: 3px;border:1px solid #ef4647 !important;}
#lightGallery-Gallery .thumb_cont .thumb{border-radius: 0px;    border: 1px solid transparent;}
#lightGallery-Gallery .thumb_cont .thumb.active, #lightGallery-Gallery .thumb_cont .thumb:hover{border-color: #ef4647;}

/*floating form*/
.added_listings{width: 72%;float: left;margin-left: 4%;}
.add_blog{width: 24%;float: left;}
.flp {padding: 0 0px;}
/*Let's place the label over the input*/
.flp div {position: relative; margin-bottom: 20px;}
.flp input, .flp label {width: 100%; display: block;font: inherit; font-size: 13px; line-height: 16px;
/*fixed height for FF line height issue. 
height = 24(lineheight) + 10*2(padding) + 2(border)*/
height: 40px;border: 1px solid #999;}
.flp input {padding:0px 8px; outline: none; border-radius: 3px;}
.flp label {position: absolute; left: 0; top: 0;line-height: 34px;font-size: 16px;
/*left/right padding will be 2px less, adjusted by padding on .ch*/
padding: 0px 8px;border-color: transparent; color: #666;cursor: text;}
.flp textarea {width: 100%; display: block;font: inherit; font-size: 13px; line-height: 16px;
/*fixed height for FF line height issue. 
height = 24(lineheight) + 10*2(padding) + 2(border)*/
height: 80px;border: 1px solid #999;padding:4px 8px; outline: none; border-radius: 3px;}

/*label styles*/
.ch {display: block; float: left;position: relative; /*for upward animation*/}
.ch:first-child {padding-left: 2px;}
.ch:last-child {padding-right: 2px;}
/*active input label*/
.focussed {/*when any input is already focussed clicking on it(label) again won't do anything*/pointer-events: none;}
.focussed .ch{font-size: 13px;background: #fff;color:#ef4647; }
.textarea_box .focussed .ch{top:-20px !important;}
.main_body .moolya_btn{display:inline-block;background: #273545;text-shadow: 0px 1px 1px #000;border:0px;color: #fff;padding: 0px 12px;line-height:44px;position: relative;text-decoration: none;}
.main_body .moolya_btn:after{position:absolute;right:-14px;content:" ";width: 0px;height: 0px;border-style: solid;border-width: 22px 0 22px 14px;
border-color: transparent transparent transparent #273545;top: 0px;}
.main_body .moolya_btn:before{position:absolute;left:-14px;content:" ";width: 0px;height: 0px;border-style: solid;border-width: 22px 14px 22px 0px;
border-color: transparent #273545 transparent transparent;top: 0px;}
.main_body .moolya_btn:hover{background: #ef4647;color: #fff;text-shadow: 0px 1px 1px #000;}
.main_body .moolya_btn:hover:after{border-color: transparent transparent transparent #ef4647;}
.main_body .moolya_btn:hover:before{border-color: transparent #ef4647 transparent transparent;}

/*table css*/
.moolya_table{width: 100%;border-collapse: inherit;}
.moolya_table th, .moolya_table td{border-bottom: 1px solid #ddd;border-left: 1px solid #ddd;padding:4px;word-wrap: break-word;}
.moolya_table th:last-of-type{border-right: 1px solid #ef4647;}
.moolya_table td:last-of-type{border-right: 1px solid #ddd;}
.moolya_table th{border-top: 1px solid #ef4647;border-left: 1px solid #db4243;border-bottom: 2px solid #ef4647;text-align: left;background: #ef4647;color: #fff;text-shadow: 0px 1px 1px #000;font-weight: normal;}
.moolya_table th:first-of-type{border-left: 0px solid #db4243;border-radius: 4px 0px 0px 0px;}
.moolya_table th:last-of-type{border-radius: 0px 4px 0px 0px;}
.moolya_table tr td{background: #f6f6f6;}
.moolya_table tr:nth-of-type(even) td{background: #e9e9e9;}
.moolya_nor_btn{background: #273545;text-shadow: 0px 1px 1px #000;border: 0px;color: #fff;padding: 4px 7px;font-size: 12px;border-radius: 4px;}
.moolya_nor_btn.disabled_btn{background: #b9c5cc;color: #273545;text-shadow: 0px 1px 1px #fff;cursor: no-drop;}
.moolya_table tr:last-of-type td:first-of-type{border-radius: 0px 0px 0px 4px;}
.moolya_table tr:last-of-type td:last-of-type{border-radius: 0px 0px 4px 0px;}
/* Responsive CSS */
@media only screen and (min-width: 1025px) and (max-width: 1280px){
.header .logo{width: 176px;}
	.header .logo img{margin-top: 5px;}
.honeycombs{width: calc(100% - 186px);}	
.honeycombs .comb_set:last-of-type{float: right;margin-right: 9px;margin-top: -128px;}
.main_body .stats_left p{font-size:36px;}
.main_body .body_left{padding-top:0px;}
.main_body .partners_wrap img{margin:6px;}
.main_body .forms_wrap{margin-top:0px;}
.main_body .stats_left p {font-size: 28px;}
}
@media only screen and (min-width: 1200px) and (max-width: 1279px){
.honeycombs .comb_set:last-of-type{margin-right: 21px;margin-top: -45px;position:relative;z-index:1;}	
}
@media only screen and (max-width: 1200px){
	.header .logo img{margin-left: 8px;}	
.mb_menu{display:block;float:right;margin:24px 24px 0px 0px;position:relative;z-index:2;cursor:pointer;}	
.header{height:90px;border-bottom: 1px solid #eee;}
.header .logo{margin-left: -16px;width: 228px;background:none;}	
.main_body{padding: 0px 8px;}
.honeycombs{display:none;}	
.menu_wrapper{position:fixed;right:0px;width:30%;height:100%;background:#ef4647;top:0px;z-index:3;width:0px;overflow:hidden;display:block;}
.menu_close{float:right;margin:24px 24px 0px 0px;position: absolute;z-index: 4;cursor:pointer;right:0px;}
.menu_wrapper ul{color:#fff;font-size:20px;line-height:40px;margin:8px 0px 0px 24px;width:100%;overflow:auto;}
.menu_wrapper ul a{text-decoration:none;color:#fff;text-shadow: 0px 1px 1px #333;}
.main_body .stats_left p{font-size:30px;}
.footer .comb_set .comb:nth-of-type(4), .footer .comb_set .comb:nth-of-type(5), .footer .comb_set .comb:nth-of-type(6){display:none;}
.main_body .stats_right .count_block{font-size: 40px;}
.main_body .stats_right .count_block span span{font-size: 23px;}
.main_body .stats_right .count_block{height:78px;}
.main_body .stats_right .chapter_count{font-size:30px;}
.main_body .stats_left p{white-space: nowrap;top:inherit;left:inherit;}
.belong_flow{right: 10%;top: 62%;}
/*.hexcontainer:nth-of-type(1){display:none;}
.hexcontainer:nth-of-type(2){display:block;}*/
	.register_btn, .form_container{position: fixed;}	
}
@media only screen and (max-width: 900px){
.hexcontainer{float:none;margin: 20px auto 0px auto;padding-left:0px;}
.forme_content{width: 100%;margin-left: 0px;}
.main_body .contact_left{float:none;width:100%;margin-right:0px;}
.main_body .contact_right{width:100%;float:none;}
.main_body .contact_right h4,.main_body .contact_right .acc_content{width:97%;}
.hexcontainer.hex_svg_set{width:100%;height:auto;margin-top:0px;text-align:center;}
.hexcontainer.hex_svg_set br{display:none;}
.hex_svg_set .hex_new{left:0 !important;top:0px !important;display:inline-block;float:none;}
.hex_svg_set .hex_new.hex_7{display:none;}
/*.hexcontainer:nth-of-type(2){display:none;}
.hexcontainer:nth-of-type(1){display:block;}
.hexcontainer{transform:rotate(0);width:100%;height:auto;}
.hex{transform: rotate(30deg) scale(0.9);margin:0px 5px;}*/
.footer .comb{display:none;}
.footer .comb_set{margin-left:0px;}
.footer .comb_set p{padding-left:10px;}
.main_body .body_left{display:none;}
.main_body.about .body_left{display: block;width: 100%;padding-right: 0px;}
.main_body.about .body_left .abt_scroll_wrap{height: auto !important;}
.main_body.about .body_right{width: 100%;}
.main_body.about .body_right .tab_dtls{height: auto !important;max-height: inherit;}
.main_body .body_right{width:100%;padding-left:0px;}
.main_body .partners_wrap{width:96%;}
.popup_content{width: calc(90% - 20px);left: 5%;height: 80%;top:6%;position:fixed;}
.gen_popup .popup_content{width: calc(90% - 20px);left: 5%;height: 80%;top:6%;}
.gen_popup.welcome_popup .popup_content{width: calc(90% - 20px);left: 5%;height:auto;}
.gen_popup.team_add_popup .popup_content{width: calc(90% - 20px);left: 5%;}
.gen_popup.event_popup .popup_content{width: calc(90% - 20px);left: 5%;}	
.expo_2016_img{width: 100%;}	
}
@media only screen and (max-width: 736px){
.mb_menu, .menu_close{margin: 15px 14px 0px 0px;width: 38px;}
.header{height: 65px;background: rgba(255,255,255,0.9);position: fixed;width: 100%;z-index: 2;}
.header .logo{width: 170px;height:auto;}
.main_body h2{font-size: 28px;padding: 0px 0px 10px 0px;}
.main_body p{line-height: 20px;font-size: 15px;padding-bottom: 5px;}
.main_body ul{font-size: 15px;}
.menu_wrapper ul{font-size: 18px;line-height: 30px;}
.main_body h3{font-size:20px;}
.trending_slider .swiper-slide{width:180px !important;}
.footer{height:55px;position:relative;}
.footer .news-scroll{margin-bottom:-5px;}
.main_body, .main_wrap{height:auto !important;}
.main_wrap.no_bg{height: 100% !important;}
.main_body{padding-top: 66px;}
.mob_sp{display:none;}
.main_body .contact_right{max-height:inherit !important;}
.main_body .stats_left{text-align:center;width:100%;float:none;height:auto !important;}
.main_body .stats_left img{display:none;}
.main_body .stats_left p{position:relative;font-size: 26px;line-height:38px;}
.main_body .stats_right{width:100%;float:none;margin-top:20px;}
.main_body .stats_right .count_block{width:25%;margin-bottom:10px !important;}
.main_body .stats_right .count_block span span{font-size:20px;}
.main_body .stats_right .chapter_count{clear:both;font-size:26px;}
.main_body .body_right .tab_dtls{max-height:inherit !important;}
.hex_svg_set .hex_new{width:100px;height:84px;}
.hex_svg_set .hex_new .active_img, .hex_svg_set .hex_new .disable_img{width:100px;height:84px;}
.hex_svg_set .hex_new .text{width:100px;font-size:15px;}
.hex_svg_set .hex_new .icon{left:34px;}
.next{bottom: 0px;font-size: 16px;}	
.prev{bottom: 0px;font-size: 16px;}		
.gen_popup.team_add_popup .popup_content{height: auto;top:6%;}
.gen_popup.event_popup .popup_content{height:auto;top:6%;}	
}
@media only screen and (max-width: 568px){
.hex_svg_set .hex_new{width:70px;height:84px;}
.hex_svg_set .hex_new .active_img, .hex_svg_set .hex_new .disable_img{width:70px;height:64px;}
.hex_svg_set .hex_new .text{width:70px;font-size:12px;top:25%;}	
.hex_svg_set .hex_new .icon{left:22px;width:26px;top:23%;}
.hex_svg_set .hex_new.hex_6 .text{top:18%;}
.gen_popup .popup_content h2{font-size: 20px;}	
.main_body.about .body_left p img{width: 128px;}	
}
@media only screen and (min-height: 400px){
.footer{position:fixed;background: rgba(255,255,255,0.9);z-index: 2;}
.main_wrap.no_bg{height: auto !important;}
.main_body{padding-bottom: 66px;}
}
@media only screen and (max-height: 399px){
.main_wrap.no_bg{height: auto !important;}	
}
@media only screen and (min-height: 600px){
.main_body{padding-bottom: 0px;}
}
@media only screen and (max-height: 600px){
.gen_popup.welcome_popup .popup_content{height: auto;}
/*.gen_popup.welcome_popup .popup_content img{height: 98%;}*/
}
@media only screen and (max-width: 667px){
.hex {transform: rotate(30deg) scale(0.8);margin: 0px -1px;}
.footer p.sm img{margin-top: 9px;width: 28px;}
.main_body .stats_right .count_block span span{font-size: 17px;}
}
@media only screen and (max-width: 480px){
.main_body .stats_right .count_block{font-size: 28px;}
.main_body .stats_right .count_block span span{font-size: 14px;}
.main_body .stats_left p{font-size: 20px;line-height: 30px;}
.main_body .stats_right .chapter_count{font-size:20px;}
.main_body .stats_right .count_block{height:60px;}
.main_body .t_member{width: 90px;height: 101px;}
.belong_flow div{padding: 0px 7px;font-size: 12px;}
.main_body .body_right .tab_data ul li{padding: 4px 7px;margin-right: 0px;}
.main_body .tab_data ul li{padding: 4px 7px;margin-right: 0px;}
.main_body .body_right .tab_data ul{margin-top:10px;}
.main_body .stats_right{margin-top:10px;}
.main_body .stats_left p{padding-top:0px;}
.footer{height:72px;}
.footer .comb_set{width: 100%;text-align: center;float:none;}
.footer .comb_set p{float:none;padding:5px 0px;line-height:16px;}
.footer p.sm{float: none;padding-right: 0px;text-align: center;}
.footer p.sm img{margin-top: 0px;}
.trending_slider .swiper-slide{width:150px !important;}
.menu_wrapper ul{font-size:16px;}
.register_btn.btn_form_open{right: 299px;}
.register_form_open{width: 260px;}	
.gen_popup.event_popup .popup_content input[type="text"]{width: 95%;height:34px;font-size: 16px;}	
.gen_popup.event_popup .popup_content textarea{width: 95%;font-size: 16px;}	
.form_nav{visibility: hidden;}	
#lightGallery li img{width: 100px;}	
#lightGallery-slider .lightGallery-slide img{max-width: 97%;}
}
/*and (min-height: 600px)*/
@media only screen and (max-width: 420px){
.main_body{padding-bottom: 70px;}
.main_wrap.no_bg{height:auto !important;}
.main_body .stats_right .count_block{width: 50%;margin-bottom: 26px !important;}
.main_body .stats_left p{padding:20px 0px;}
.main_body .stats_right .count_block span span{font-size:19px;}
.main_body .stats_right .chapter_count{font-size:25px;}
.main_body h2{padding-bottom:10px;}
.main_body .t_member{width: 77px;height: 86px;}
.main_body .forms_wrap form{height:431px;}
.main_body .forms_wrap .comb{left:10px;top:23px;}
.main_body .forms_wrap{max-height:inherit;}
.main_body .contact_right h4, .main_body .contact_right .acc_content{width:96%;}
.main_body .body_right .tab_data ul li{margin-top:5px;}
.hex{transform: rotate(30deg) scale(0.9);margin: 0px 13px;}	
.register_btn.btn_form_open{right: 266px;}
.register_form_open{width: 226px;}	
.form_nav{margin-top: 27px;}
.next.show{margin-bottom: -5px;}
	.prev.show{margin-bottom: -5px;}
.form_container{height: 117px;}	
.questions li > span label{font-size: 16px;}	
.questions input, .questions select{font-size: 16px;}
.simform .number{font-size: 14px;}
.simform .error-message{font-size: 12px;}
.form_nav li{width: 11px;height: 11px;margin-right: 5px;}	
.mob_break{display: block;}	
.footer .comb_set p{line-height: 22px;}	
}
@media only screen and (max-width: 360px){
.main_body .body_right .tab_data ul li{margin-top:5px;}
.hex{transform: rotate(30deg) scale(0.7);margin: 0px -2px;}	
.gen_popup .popup_content h2{font-size: 16px;}	
	
}
