@charset "utf-8";
/* CSS Document */
@import url("fonts.css");
*{margin:0px;padding:0px;}
video {position: fixed;top: 50%;left: 50%;min-width: 100%;min-height: 100%;width: auto;height: auto;z-index: -100;transform: translateX(-50%) translateY(-50%);/*background: url('.jpg') no-repeat;*/background-size: cover;transition: 1s opacity;}
.intro .stopfade { opacity: .5;}
.intro .logo{margin-top:20px;}
/* General Button Style */
.intro .moolya_btn{position:absolute;bottom:9%;left: 50%;transform: translateX(-50%);font-size: 18px;}
.intro .moolya_btn{background: #273545;border:0px;color: #fff;line-height:52px;text-decoration: none;padding: 0px 14px;text-shadow: 0px 1px 1px #000;}
.intro .moolya_btn:after{position:absolute;right:-14px;content:" ";width: 0px;height: 0px;border-style: solid;border-width: 26px 0 26px 14px;
border-color: transparent transparent transparent #273545;top: 0px;}
.intro .moolya_btn:before{position:absolute;left:-14px;content:" ";width: 0px;height: 0px;border-style: solid;border-width: 26px 14px 26px 0px;
border-color: transparent #273545 transparent transparent;top: 0px;}
.intro .moolya_btn:hover{background: #ef4647;color: #fff;text-shadow: 0px 1px 1px #000;}
.intro .moolya_btn:hover:after{border-color: transparent transparent transparent #ef4647;}
.intro .moolya_btn:hover:before{border-color: transparent #ef4647 transparent transparent;}

.intro .button{position: relative;display:block;background-color: transparent;width:200px;height:50px;line-height:60px;text-align:center;font-size:19px;text-decoration:none;text-transform:lowercase;position:absolute;bottom:9%;left: 50%;transform: translateX(-50%);font-family: 'DINPro-regular';z-index: 2;}
.intro .button:before, .intro .button:after {width:200px;left: -2px;height:27px;z-index: -1;background-color:rgba(255,255,255,0.6);}
.intro .indianred{ color: #ef4647; }
.intro .indianred:before,.intro .indianred:after {border: 3px solid #ef4647;}
.intro .button:before{position: absolute;content: '';border-bottom: none;-webkit-transform: perspective(15px) rotateX(5deg);-moz-transform: perspective(15px) rotateX(5deg);transform: perspective(15px) rotateX(5deg);}
.intro .button:after{position: absolute;top: 32px;content: '';border-top: none;-webkit-transform: perspective(15px) rotateX(-5deg);
-moz-transform: perspective(15px) rotateX(-5deg);transform: perspective(15px) rotateX(-5deg);}
/* Button Hover Style */
.intro .indianred:hover:before, .intro .indianred:hover:after {background: #ef4647;/*transition:.3s linear;*/}
.intro .button:hover{color:#fff;}
.intro .tagline{color:#ef4647;font-family: 'DINPro-regular';font-size:19px;padding-top:20px;font-weight:normal;}
@media only screen and (max-width: 600px){
	.intro .logo{width: 190px;}
	.intro .button{width:170px;font-size: 18px;}
	.intro .button:before, .intro .button:after {width:170px;}
}
