p
  | #{aboutDiscription}
h3 Past winners have included:
  .img_list
    img(src='/images/list_img_01.png')
    img(src='/images/list_img_01.png')
    img(src='/images/list_img_01.png')
    img(src='/images/list_img_01.png')
    img(src='/images/list_img_01.png')
