//
   Created by kanwarjeet on 10/24/17.

if(!privateFields.team)
  if(teamManagement && teamManagement.length >0)
    .ms_swiper
      .swiper-container
        .swiper-wrapper
          each slide , i in teamManagement
            .swiper-slide
              img(src=slide.logo)
              .profile_info
                h5 #{slide.firstName} #{slide.lastName}
                h6 #{slide.designation}
                p
                  | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                  | standard dummy text ever since the 1500s,Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
              span.expand_info
        // Add Pagination
        // <div class="swiper-pagination"></div>
        // Add Arrows
      .swiper-button-next
      .swiper-button-prev
  else
    .ms_noBranches
      img(src='/images/branches_banner.png')
else
  h2 Private Content

// Swiper Ends

