[class^="ml-"], [class*=" ml-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'moolya' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ml-about:before {
  content: "\e900";
}
.ml-accounts:before {
  content: "\e901";
}
.ml-active:before {
  content: "\e902";
}
.ml-active-User:before {
  content: "\e903";
}
.ml-additional-Information:before {
  content: "\e904";
}
.ml-address:before {
  content: "\e905";
}
.ml-address-book:before {
  content: "\e906";
}
.ml-alert:before {
  content: "\e907";
}
.ml-all:before {
  content: "\e908";
}
.ml-annotate:before {
  content: "\e909";
}
.ml-approve-User:before {
  content: "\e90a";
}
.ml-arrow-down:before {
  content: "\e90b";
}
.ml-arrow-left:before {
  content: "\e90c";
}
.ml-arrow-right:before {
  content: "\e90d";
}
.ml-arrow-up:before {
  content: "\e90e";
}
.ml-assign:before {
  content: "\e90f";
}
.ml-audience:before {
  content: "\e910";
}
.ml-audio:before {
  content: "\e911";
}
.ml-awards:before {
  content: "\e912";
}
.ml-backend-User:before {
  content: "\e913";
}
.ml-basic-Information:before {
  content: "\e914";
}
.ml-be-spoke:before {
  content: "\e915";
}
.ml-browser:before {
  content: "\e916";
}
.ml-calendar:before {
  content: "\e917";
}
.ml-calls:before {
  content: "\e918";
}
.ml-certificate:before {
  content: "\e919";
}
.ml-chapter:before {
  content: "\e91a";
}
.ml-chart:before {
  content: "\e91b";
}
.ml-chat:before {
  content: "\e91c";
}
.ml-clients:before {
  content: "\e91d";
}
.ml-cluster:before {
  content: "\e91e";
}
.ml-community:before {
  content: "\e91f";
}
.ml-company:before {
  content: "\e920";
}
.ml-compare:before {
  content: "\e921";
}
.ml-connect:before {
  content: "\e922";
}
.ml-consulting:before {
  content: "\e923";
}
.ml-create-password:before {
  content: "\e924";
}
.ml-cross:before {
  content: "\e925";
}
.ml-currency:before {
  content: "\e926";
}
.ml-customer-care:before {
  content: "\e927";
}
.ml-customer-support:before {
  content: "\e928";
}
.ml-dashboard:before {
  content: "\e929";
}
.ml-data:before {
  content: "\e92a";
}
.ml-delete:before {
  content: "\e92b";
}
.ml-document:before {
  content: "\e92c";
}
.ml-download:before {
  content: "\e92d";
}
.ml-edit:before {
  content: "\e92e";
}
.ml-email:before {
  content: "\e92f";
}
.ml-engagement-method:before {
  content: "\e930";
}
.ml-error:before {
  content: "\e931";
}
.ml-events:before {
  content: "\e932";
}
.ml-export:before {
  content: "\e933";
}
.ml-favourite:before {
  content: "\e934";
}
.ml-filter:before {
  content: "\e935";
}
.ml-funder:before {
  content: "\e936";
}
.ml-funding:before {
  content: "\e937";
}
.ml-go-live:before {
  content: "\e938";
}
.ml-hirerachy:before {
  content: "\e939";
}
.ml-home:before {
  content: "\e93a";
}
.ml-idea:before {
  content: "\e93b";
}
.ml-ideator:before {
  content: "\e93c";
}
.ml-import:before {
  content: "\e93d";
}
.ml-inactive-user:before {
  content: "\e93e";
}
.ml-info:before {
  content: "\e93f";
}
.ml-information:before {
  content: "\e940";
}
.ml-inquiry:before {
  content: "\e941";
}
.ml-institutions:before {
  content: "\e942";
}
.ml-investment:before {
  content: "\e943";
}
.ml-kyc-document:before {
  content: "\e944";
}
.ml-language:before {
  content: "\e945";
}
.ml-legal:before {
  content: "\e946";
}
.ml-library:before {
  content: "\e947";
}
.ml-login-as:before {
  content: "\e948";
}
.ml-logout:before {
  content: "\e949";
}
.ml-looking-for:before {
  content: "\e94a";
}
.ml-make-public:before {
  content: "\e94b";
}
.ml-management-promoters:before {
  content: "\e94c";
}
.ml-membership:before {
  content: "\e94d";
}
.ml-messaging:before {
  content: "\e94e";
}
.ml-minus:before {
  content: "\e94f";
}
.ml-moolya-symbol:before {
  content: "\e950";
}
.ml-my-profile:before {
  content: "\e951";
}
.ml-new:before {
  content: "\e952";
}
.ml-news:before {
  content: "\e953";
}
.ml-numeric:before {
  content: "\e954";
}
.ml-panel-member:before {
  content: "\e955";
}
.ml-payments:before {
  content: "\e956";
}
.ml-photo:before {
  content: "\e957";
}
.ml-plus:before {
  content: "\e958";
}
.ml-portfolio:before {
  content: "\e959";
}
.ml-principal:before {
  content: "\e95a";
}
.ml-problem:before {
  content: "\e95b";
}
.ml-provider:before {
  content: "\e95c";
}
.ml-reviews:before {
  content: "\e95d";
}
.ml-save:before {
  content: "\e95e";
}
.ml-scrollbar-mobile:before {
  content: "\e95f";
}
.ml-search:before {
  content: "\e960";
}
.ml-select-all:before {
  content: "\e961";
}
.ml-services:before {
  content: "\e962";
}
.ml-settings:before {
  content: "\e963";
}
.ml-share:before {
  content: "\e964";
}
.ml-social-Links:before {
  content: "\e965";
}
.ml-sort:before {
  content: "\e966";
}
.ml-startup:before {
  content: "\e967";
}
.ml-strategy-plans:before {
  content: "\e968";
}
.ml-subscribe:before {
  content: "\e969";
}
.ml-success:before {
  content: "\e96a";
}
.ml-teamwork:before {
  content: "\e96b";
}
.ml-template:before {
  content: "\e96c";
}
.ml-theme:before {
  content: "\e96d";
}
.ml-time-zone:before {
  content: "\e96e";
}
.ml-timeline:before {
  content: "\e96f";
}
.ml-trademark:before {
  content: "\e970";
}
.ml-transaction:before {
  content: "\e971";
}
.ml-upload:before {
  content: "\e972";
}
.ml-users:before {
  content: "\e973";
}
.ml-valuation:before {
  content: "\e974";
}
.ml-video:before {
  content: "\e975";
}
.ml-video-calls:before {
  content: "\e976";
}
.ml-wishlist:before {
  content: "\e977";
}
.ml-work:before {
  content: "\e978";
}
.ml-workflow:before {
  content: "\e979";
}

